.page-container {
    padding: 32px;
    max-width: 1024px;
    margin: 0 auto;
}

.search-bar {
    text-align: center;
}

.song-container {
    margin: 0 !important;
}

.song-card {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    min-height: 300px;
    width: 100%;
    transition: all 0.2s ease-out 0s;
}

.song-card:hover {
    box-shadow: 0 10px 35px -10px rgba(0,0,0,0.75);
}

.song-info {
    margin: auto;
    width: 50%;
    border: 3px solid transparent;
    padding: 10px;
    border-radius: 1cm;
    text-align: center;
}
